:root {
    --etsu-primary-navy: #041E42;
    --etsu-primary-gold: #FFC72C;
    --rl-primary-blue: #1873FF;
    --rl-primary-orange: #F48D2E;
    font-variant-numeric: tabular-nums;
}

@font-face {
    font-family: Fyrste;
    src: url("../fonts/fyrste.ttf") format("truetype");
}

.white_text {
    color: #ffffff !important;
}

.black_text {
    color: #000000 !important;
}

#main_container {
    width: 1920px;
    height: 1080px;
    position: relative;
}

.replay_active {
    background-image: url("../img/Replay.png") !important;
    background-repeat: no-repeat !important;
}

#transition_img {
    position: absolute;
    z-index: 1000;
}

.scoreboard_active {
    /*background-image: url("../img/Artboard\ 1.png");*/
    background-repeat: no-repeat;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #ff0033;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #ff0033;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}